<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.webServer>
		<defaultDocument>
			<files>
				<add value="Login_Form.aspx" />
			</files>
		</defaultDocument>

		<handlers>
			<add name="ASP.NET-ISAPI-4.0_32bit" path="*.aspx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
		</handlers>
	</system.webServer>
</configuration>
